<html>
<head>
    <%-  include partial_views/head.ejs %>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <%-  include partial_views/header.ejs %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 jumbotron">

                <form class="form-horizontal" enctype="multipart/form-data">
                    <fieldset>
                        <legend class="alert alert-info text-center">Add Student</legend>
                        <h6 class="alert alert-success">{{successMessage}}</h6>
                        <div class="form-group">
                            <label class="col-lg-12 control-label">Name</label>
                            <div class="col-lg-10">
                                <input type="text" ng-model="name" class="form-control" name="name" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-12 control-label">Roll No</label>
                            <div class="col-lg-10">
                                <input type="text" ng-model="rollno" class="form-control" name="rollno" placeholder="Roll No">
                                <input type="hidden" ng-model="updateid">

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Checkbox
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-12 control-label">Image</label>
                            <div class="col-lg-10">
                                <input id="imgInp" type="file" aria-label="Add photos to your post" class="upload" name="image" onchange="angular.element(this).scope().LoadFileData(this.files)" multiple="" >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                <button type="button" ng-show="savebtn" ng-click="savedata()" class="btn btn-primary">Save</button>
                                <button type="button" ng-show="updatebtn" ng-click="updatedata()" class="btn btn-primary">Update</button>

                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-6">
                <table border="0" class="table table-borderd">
                   <thead>
                       <tr>
                           <th>Name</th>
                           <th>Roll No</th>
                           <th>Image</th>
                           <th>Actions</th>
                       </tr>
                   </thead>
                    <tbody>
                        <tr ng-repeat="student in students">
                            <td>{{student.name}}</td>
                            <td>{{student.rollno}} </td>
                            <td>
                                <img style="height:100px;width:100px;" class="image-responsive" src="/{{student.image}}" />
                            </td>
                            <td>
                                <!--{{student._id}}-->
                                <button type="button" ng-click="GetObject(student)" class="btn btn-info">Edit </button>
                                <button ng-click="deletedata(student._id)" type="button" class="btn btn-danger">Delete </button>
                                <a class="btn btn-success" href="/download?filename={{student.image}}">Download</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http) {

            var formData = new FormData();

            $scope.LoadFileData = function (files) {
                for (var file in files) {
                    formData.append("image", files[file]);
                }
            };

            //for save data
            $scope.savedata = function () {
                formData.append("name", $scope.name);
                formData.append("rollno", $scope.rollno);
                    $http({
                        method: "POST",
                        url: "/AddStudent",
                        dataType: 'json',
                        data: formData,
                        withCredentials: true,
                        headers: { 'Content-Type': undefined },
                        transformRequest: angular.identity
                    }).then(function successCallback(response) {
                        if (response.data.isSaved) {
                            $scope.successMessage = response.data.message;
                            $scope.name = "";
                            $scope.rollno = "";
                        }

                    }, function errorCallback(response) {
                        // called asynchronously if an error occurs
                        // or server returns response with an error status.
                        alert("alert");
                    });

                getAllStudents();
            }
            //for delete button
            $scope.deletedata = function (id) {
               // alert(id);
                $http({
                    method: "POST",
                    url: "/DeleteStudent",
                    dataType: 'json',
                    data: { id: id },
                    headers: { "Content-Type": "application/json" }
                }).then(function successCallback(response) {
                    if (response.data.isremoved) {
                        $scope.successMessage = response.data.message;
                    }

                }, function errorCallback(response) {
                    // called asynchronously if an error occurs
                    // or server returns response with an error status.
                    alert("alert");
                });

                getAllStudents();
            }
            //for Edit button
            $scope.GetObject = function (student) {
                $scope.name = student.name;
                $scope.rollno = student.rollno;
                $scope.updateid = student._id;
                $scope.savebtn = false;
                $scope.updatebtn = true;
            }
            //update data
            $scope.updatedata = function () {
                $http({
                    method: "POST",
                    url: "/UpdateStudent",
                    dataType: 'json',
                    data: { name: $scope.name, rollno: $scope.rollno, id: $scope.updateid },
                    headers: { "Content-Type": "application/json" }
                }).then(function successCallback(response) {
                    if (response.data.isupdated) {
                        $scope.successMessage = response.data.message;
                        $scope.name = "";
                        $scope.rollno = "";
                        $scope.savebtn = true;
                        $scope.updatebtn = false;
                    }

                }, function errorCallback(response) {
                    // called asynchronously if an error occurs
                    // or server returns response with an error status.
                    alert("alert");
                });

                getAllStudents();
            }
            //get all data
            function getAllStudents() {
                $http({
                    method: "GET",
                    url: "/AllStudent",
                    dataType: 'json',
                    data: {},
                    headers: { "Content-Type": "application/json" }
                }).then(function successCallback(response) {
                    $scope.students = response.data;
                }, function errorCallback(response) {
                    // called asynchronously if an error occurs
                    // or server returns response with an error status.
                    alert("alert");
                });

            }
            //page load
            getAllStudents();
            $scope.savebtn = true;

           

        });

    </script>
    <%-  include partial_views/footer.ejs %>
</body>
</html>