<html>
<head>
</head>
<body>
    <h1><%= subject %> </h1>

    <p style="color:red"><%= myVar %></p>
    <span><%= myVar2 %> </span>
    <button class="btn btn-danger">Confirm</button>
</body>
</html>